h1{
    font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: orange;
   
    background-color:rgb(128, 128, 128);
     color: hsl(58, 100%, 50%);
     text-align: center;
    
    font-size: 55 px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.5;
    text-decoration:teal double underline;
    text-transform: uppercase;
    
   
   
    
   
    


}

